a:link {
        color: blue;
        display: block;
        text-align: center;
}

p {
    font-family: times new roman;
    color: black;
    border-left: 6px solid red;
    background-color: lightgrey;
 
}

