a:link {
        color: blue;
        display: block;
        text-align: left;
}
h1 {
	text-align: center;
}
p {
    font-family: times new roman;
    color: black;
    border-left: 6px solid red;
    background-color: lightgrey;
 
}

body {
	background-color: lightgrey;
}