/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

a, a:visited {
    color: black; /* or any color you prefer for your links */
    text-decoration: none; /* optional, removes underline */
}

main {
    padding: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
